h2 {
	font-size: 30px;
	font-family: Helvetica, sans-serif;
}

a:link { text-decoration: none; }


.header {
		display: flex;
}
.list { 
		list-style-type: none;
		font-family: Palatino;
		font-style: italic;
}

.list__item { font-size: 32px; }




.text {
	padding-bottom: 2%;
	font-size: 24px;
	font-family: Palatino;
	line-height: 150%;
}

/* blinkande text */
.text--flash {
    animation-name: flash;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: 100;
    animation-direction: alternate;
    animation-play-state: running;
}

.logo {
    position: relative;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.logo__image {}

@keyframes flash {
	from { color: #9f9; }
	to { color: red; }
}

.image {
	width: 18em;
}
.image--size-small { width: 20em; } 
.image--size-medium { width: 38em; } 
.image--size-big { width: 48em; } 

.wrapper {
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
	}

.page-head {
    padding-top: 10%;
    padding-bottom: 4%;
    background-color: #2587b4;
    margin-bottom: 38px;
	}

.code {
	font-family: Menlo, monospace;
	font-size: 16px;
	margin: 6%;
	padding: 2%;
	background-color: #111;
	color: #9f9;
	border-radius: 7px;
}

.code--html{
}

.code--css {
}
